<body>
<div class="header"><h1>Hundreds of Free <br>Manufacture Drug Coupons </h1>


  <%= link_to 'HOME ', home_home_path %>
  <%= link_to 'Contact Us', home_contactus_path %>
  <%= link_to 'Assignment', home_assignment_path %>
  <%= link_to 'Show',home_show_path %>
  <div>
    <p>FOR PRESCRIPTION DRUGS AND NON-PRESCRIPTION DRUGS -<br> 100% FREE - ONLINE SINCE 2007 - NO ANNOYING SIGN- INS!</p>
    <input id="bar" type="text" placeholder="Search Drug Coupons"> <input type="submit" id="search-submit">
  </div>
</div>
</body>