<head>
  <title>APPPath</title>
</head>
<body>
    <p>
      <b>NAME:</b>
    </p>
    <p>
      <b>DESCRIPTION:</b>
    </p>
    <p>
      <b>PRICE:</b>
    </p>
    <p>
      <b>SELLER_ID:</b>
    </p>
    <p>
      <b>EMAIL:</b>
    </p>
    <p><b>IMG_URL:</b>
    </p>
</body>
